@font-face {
  font-family: "IBM";
  src: url("../media/fonts/IBM3270/IBM3270_Custom.ttf") format("truetype"); /* Safari, Android, iOS */
}

@font-face {
  font-family: "PressStart";
  src: url("../media/fonts/PressStart2P/PressStart2P-Regular.ttf")
    format("truetype"); /* Safari, Android, iOS */
}

html, body {
  min-height: 100%;
  min-height: 100vh;
  overflow: auto; // <- this is needed when you resize the screen
}

html {
  /* Very important if you want scrolling to the top to happen smoothly */
  scroll-behavior: smooth;
  box-shadow: 0px -28px 100px -35px rgb(9 24 56) inset;
}

body {
  background-repeat: no-repeat;
  background: -webkit-linear-gradient(top, rgb(50 29 120) 30%, rgb(70 21 107) 60%, rgb(20 35 66));
  
  text-align: center;
  font: normal 17px "IBM", Helvetica, sans-serif;
  margin: 0;
  transition: background 2.5s ease;
  box-shadow: 0px -100px 100px -35px rgb(2 25 75) inset;
  /*
  width: 100%;
  background: -webkit-linear-gradient(top, rgb(55, 41, 99) 30%, rgb(47 20 67) 70%, rgb(20 35 66));

  background-size: 100%;
  text-align: center;
  font: normal 17px "IBM", Helvetica, sans-serif;
  background-repeat: no-repeat;
  margin-left: auto;
  margin-right: auto;
  margin: 0;
  
  padding: 0;
  height: auto;

  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  /* To make the footer stick to the bottom of the page. */
}


main{
  opacity: 1;
  transition: opacity 0.3s;
  display: none;
  max-width: 635px;
  margin: auto;
  padding: 0px 10px;
}

a {
  color: white;
  user-select: none;
  -moz-user-select: none;
  -khtml-user-select: none;
  -webkit-user-select: none;
  -o-user-select: none;
}

.basic-link{
  margin-right: 2px;
  display: inline-block;
}

.inhinito-link:active {
  transform: translateY(2.5px);
  color: rgb(229, 62, 90);
}

.inline-link{
  display: inline;
  text-decoration: underline;
  cursor: pointer;
  -webkit-user-select: text;
  -moz-select: text;
  -ms-select: text;
  user-select: text;
}

.border-item {
  margin-bottom: 15px;
  border: 2px solid #ffcf4e;
  color: orange;
  border-radius: 4px;
  list-style: none;
  padding: 10px;
}


#trademark {
  width: 75%;
  min-width: 230px;
  max-width: 650px;
  margin-top: 130px;
  margin-bottom: 10px;
}



#language-select {
  position: absolute;
  right: 35px;
  margin-top: 1px;
}



#footer-english{
  display: block;
}
#footer-greek{
  display: none;
}


/* Articles */
.article-8-bit{
  margin-bottom: 5%;
}

.article-section {
  text-align: left;
  margin-top: 5%;
  margin-bottom: 5%;
}

fieldset { 
  padding: 4px;
  border: 2px solid orange;
  border-radius: 4px;
  background: rgb(142,152,226);
  background: linear-gradient(174deg, rgb(141 155 255 / 0%) 0%, rgb(47 35 125 / 80%) 20%, rgb(19 12 73 / 80%) 100%);

  display:inline-block;
}

fieldset .text-8-bit {
  margin: -8px 0 5px 0;
  padding: 0 4px 2px 6px;
}
/*

.fieldset-button {
  float: right;
  position: relative;
  top: 24px;
  font-family: 'PressStart';
  font-size: 10px;
  background: #1c1052;
  color: white;
  border: 2px solid orange;
  border-radius: 4px;
  padding: 6px 10px;
  cursor: pointer;
}
*/

.article-header {
  font-family: "PressStart", Helvetica, sans-serif;
  font-weight: normal;
  font-size: clamp(12px, 4vw, 20px);
  color: #ffcf4e;
  text-shadow: 1.1px 1px 0 rgb(229, 62, 90);
}


fieldset .article-header {
  padding: 0 2px 0 5px;
}

.article-list-item {
  margin-left: -39px;
}

.list-header {
  margin-top: 30px;
  margin-bottom: 13px;
  font: normal 15px "PressStart", Helvetica, sans-serif;
}

/* 8-bit fonts*/

.text-8-bit {
  color: orange;
  font-size: 18px;
  padding: 0;
}

.basic-button { 
  font-family: "PressStart";
  font-size: 11px;
  position: relative;
  margin-left: 8px;
  margin-right: 8px;
  margin-bottom: 5px;
  /* Use a CSS variable in order to be able to change its value in the ::after pseudoclass through JS */
  --background: rgb(55, 41, 99);
  /* The width and the height is big enough to allow for the animeted movement of the button
  as well as the box-shadow of the button */
  width:141px;
  height:40px;
}

.basic-button::after{
  
  border: 2px solid #ffcf4e;
  background-color: rgb(55, 41, 99);
  border-radius: 3px;

  /* Specify the transition effect for chaning the background-color and the button-press */ 
  -webkit-transition: 0.08s ease-in-out;
  -moz-transition: 0.08s ease-in-out;
  -o-transition: 0.08s ease-in-out;
  transition: 0.08s ease-in-out;

  /* Fill each button text content individually */
  content: "";
  line-height: 35px;
  background-size: cover;
  background-repeat: no-repeat;
  top: 0;
  left: 0;
  bottom: 0;
  right: 0;
  position: absolute;
  /* Make the after element smaller so that it doesn't overflow through the original element when active */
  width:137px;
  height:33px;
}

.basic-button::before{
  box-shadow: 5px 5px 0 0 #ed649a;
  border-radius: 3px;
  width: 141px;
  height: 37px;
  content: "";
  background-size: cover;
  background-repeat: no-repeat;
  top: 0;
  left: 0;
  bottom: 0;
  right: 0;
  position: absolute;
}

.basic-button:focus{
  outline: none;
}

.basic-button:hover {
  cursor:pointer;
}

.basic-button:active::after {
  -webkit-transform: translate(5px, 5px);
  -moz-transform: translate(5px, 5px);
  -o-transform: translate(5px, 5px);
  -ms-transform: translate(5px, 5px);
  transform: translate(5px, 5px);
}

.active-project {
  color: lime;
}
.in-development {
  color: aqua;
}
.next {
  color: yellow;
}

.social-icon{
  width: 90%;
  margin-bottom: 20px;
  margin-left: 2px;
  margin-right: 2px;
}

strong {
  color: #ffd800;
}

ol {
  padding-left: 32px;
  padding-right: 6px;
}

ol li {
  color: orange;
  margin-bottom: 10px;
}

footer{
  /* Make footer stick to the bottom of the page. */
  margin-top: 70px;
  display: none;

  opacity: 1;
  transition: opacity 0.3s;
}

.footer-link{
  display: block;
  margin-bottom: 5px;
  width: fit-content;
}

#footer-details{
  padding: 15px 3% 15px 3%;
  background-color: #c33f7d;
  border-radius: 6px;
  text-align: left;
  
  opacity: 1;
  transition: opacity 0.3s;
  max-width: 635px;
  margin: auto;
}

#copyright {
  text-align: center;
  color: #ffcf4e;
  margin-top: 30px;
}


* {
  box-sizing: content-box;
}



/************* Stary night sky ************/

* {
  box-sizing: content-box;
}

.star {
  background-color: white;
  /* border-radius: 50%; */
  position: absolute;
  animation-name: star;
  animation-timing-function: linear;
  animation-iteration-count: infinite;
  z-index: -1;
}


.star.style1 { animation-duration: 0.5s; animation-name: star; }
.star.style2 { animation-duration: 1s; animation-name: star; }
.star.style3 { animation-duration: 1.5s; animation-name: star; }
.star.style4 { animation-duration: 2s; animation-name: starLight; }

.star.size1 { width: 1px; height: 1px; }
.star.size2 { width: 2px; height: 2px; }
.star.size3 { width: 3px; height: 3px; }

.star.opacity1 { opacity:  1; }
.star.opacity2 { opacity: .5; }
.star.opacity3 { opacity: .1; }

.meteor {
  position: absolute;
  background-color: #fff;
  width: 2px;
  height: 2px;
  border-radius: 50%;
  transform: rotate(-35deg);
  animation-timing-function: linear;
  animation-iteration-count: infinite;
  animation-duration: 1s;
}

.meteor:before {
  content: "";
  display: inline-block;
  vertical-align: middle;
  margin-right: 10px;
  width: 0;
  height: 0;
  border-top: 1px solid transparent;
  border-bottom: 1px solid transparent;
  border-left: 85px solid white;
  position: absolute;
  left: 2px;
  top: 0;
}

.meteor.style1 { animation-name: meteorStyle1; }
.meteor.style2 { animation-name: meteorStyle2; }
.meteor.style3 { animation-name: meteorStyle3; }
.meteor.style4 { animation-name: meteorStyle4; }


@keyframes star {
  0% {
    box-shadow: 0 0 10px 0px rgba(255, 255, 255, 0.05);
  }
  50% {
    box-shadow: 0 0 10px 2px rgba(255, 255, 255, 0.4);
  }
  100% {
    box-shadow: 0 0 10px 0px rgba(255, 255, 255, 0.05);
  }
}

@keyframes starLight {
  0% {
    background-color: #FFFFFF;
    box-shadow: 0 0 10px 0px rgba(255, 255, 255, 1);
  }
  20% {
    background-color: #FFC4C4;
    box-shadow: 0 0 10px 0px rgb(255, 196, 196, 1);
  }
  80% {
    background-color: #C4CFFF;
    box-shadow: 0 0 10px 0px rgb(196, 207, 255, 1);
  }
  100% {
    background-color: #FFFFFF;
    box-shadow: 0 0 10px 0px rgba(255, 255, 255, 0.2);
  }
}

@keyframes meteorStyle1 {
  0% { opacity: 0; right: 300px; top: 100px; }
  30% { opacity: .3; }
  60% { opacity: .3; }
  100% { opacity: 0; right: 1000px; top: 600px; }
}

@keyframes meteorStyle2 {
  0% { opacity: 0; right: 700px; top: 100px; }
  30% { opacity: 1; }
  60% { opacity: 1; }
  100% { opacity: 0; right: 1400px; top: 600px; }
}

@keyframes meteorStyle3 {
  0% { opacity: 0; right: 300px; top: 300px; }
  30% { opacity: 1; }
  60% { opacity: 1; }
  100% { opacity: 0; right: 1000px; top: 800px; }
}

@keyframes meteorStyle4 {
  0% { opacity: 0; right: 700px; top: 300px; }
  30% { opacity: 1; }
  60% { opacity: 1; }
  100% { opacity: 0; right: 1400px; top: 800px; }
}
