@font-face {
  font-family: "IBM";
  src: url("../media/fonts/IBM3270/IBM3270_Custom.ttf") format("truetype"); /* Safari, Android, iOS */
}

@font-face {
  font-family: "PressStart";
  src: url("../media/fonts/PressStart2P/PressStart2P-Regular.ttf")
    format("truetype"); /* Safari, Android, iOS */
}

html, body {
  min-height: 100%;
  min-height: 100vh; 
  overflow: auto;
  width: 100%;
  /* height: 100vh; */
  position: absolute;

  -webkit-backface-visibility: hidden;
}

html {
  /* Very important if you want scrolling to the top to happen smoothly */
  scroll-behavior: smooth;
  box-shadow: 0px -28px 100px -35px rgb(9 24 56) inset;

}

body {
  margin: 0;
  text-align: center;
  font: normal 17px "IBM", Helvetica, sans-serif;
  overflow-y: clip;

  z-index:0;
}

body::before {
  content: "";
  position: fixed;
  top: 0;
  left: 0;
  bottom: 0;
  width: 100vw;
  min-height: 100vh;
  /* background-image: -webkit-linear-gradient(top, rgb(50 29 120) 30%, rgb(70 21 107) 60%, rgb(20 35 66)); */
  background-image: linear-gradient(to bottom, rgb(42 14 62), rgb(70 21 107), rgb(37 32 141));
  /* background: rgb(59 22 114); */
  background-size: cover;
  width: 100%;
  background-repeat: no-repeat;
  /* box-shadow: 0px -100px 200px 0px rgb(2 25 75) inset; */
  z-index: -1;
}


main{
  opacity: 1;
  transition: opacity 0.3s;
  display: none;
  max-width: 635px;
  margin: auto;
}

.page {
  padding: 0 10px;
}

a {
  color: white;
  user-select: none;
  -moz-user-select: none;
  -khtml-user-select: none;
  -webkit-user-select: none;
  -o-user-select: none;
}

.basic-link{
  margin-right: 2px;
  display: inline-block;
}

.inhinito-link:active {
  transform: translateY(2.5px);
  color: white;
}

.inline-link{
  display: inline;
  text-decoration: underline;
  cursor: pointer;
  -webkit-user-select: text;
  -moz-select: text;
  -ms-select: text;
  user-select: text;
}

.border-item {
  margin-bottom: 7px;
  border: 2px solid #ee4684;
  color: orange;
  border-radius: 2px;
  list-style: none;
  padding: 10px;
  background: #341d72a8;
}


#trademark {
  width: 75%;
  min-width: 230px;
  max-width: 650px;
  margin-top: 130px;
  margin-bottom: 10px;

  position: static;
}



#language-select {
  position: absolute;
  right: 35px;
  margin-top: 1px;
}



#footer-english{
  display: block;
}
#footer-greek{
  display: none;
}


/* Articles */
.article-8-bit{
  margin-bottom: 5%;
}

.article-content {
  background-color: #451569;
  box-shadow: 6px 0 #451569, -6px 0 #451569, 0 -6px #451569, 0 6px #451569;
}

.article-section {
  text-align: left;
  margin-top: 5%;
  margin-bottom: 5%;
}

fieldset { 
  padding: 4px;
  border: 2px solid orange;
  border-radius: 2px;
  background: rgb(17 27 102 / 70%);
  background: linear-gradient(174deg, rgb(141 155 255 / 0%) 0%, rgb(47 35 125 / 80%) 45%, rgb(19 12 73 / 80%) 100%);
}

article .text-8-bit {
  margin-bottom: 50px;
  padding: 12px 16px 10px;
}

article ul {
  padding: 0;
}

/*

.fieldset-button {
  float: right;
  position: relative;
  top: 24px;
  font-family: 'PressStart';
  font-size: 10px;
  background: #1c1052;
  color: white;
  border: 2px solid orange;
  border-radius: 2px;
  padding: 6px 10px;
  cursor: pointer;
}
*/

.article-header {
  font-family: "PressStart", Helvetica, sans-serif;
  font-weight: normal;
  font-size: clamp(12px, 4vw, 20px);
  color: #ffcf4e;
  text-shadow: 1.1px 1px 0 rgb(229, 62, 90);

}


fieldset .article-header {
  padding: 0 2px 0 5px;
}

.article-list-item {
  margin-left: 8px !important;
  color: orange;
}

.list-header {
  margin-top: 30px;
  margin-bottom: -10px;
  font-size: clamp(12px, 4vw, 17px);
}

/* 8-bit fonts*/

.text-8-bit {
  color: orange;
  font-size: 18px;
  padding: 0;
}

.lvl1 {
  box-shadow: 6px 0 #352a8cbf, -6px 0 #352a8cbf, 0 -6px #352a8cbf, 0 6px #352a8cbf;
  margin: 6px auto;
  background: #352a8cbf;
  padding: 6px 6px 3px 10px;
  border-radius: 1px;
  -webkit-filter: drop-shadow(6px 6px 0px #ee4684);
  filter        : drop-shadow(6px 6px 0px #ee4684);
  -ms-filter    : "progid:DXImageTransform.Microsoft.Dropshadow(OffX=4, OffY=4, Color='#ee4684')";
  filter        : "progid:DXImageTransform.Microsoft.Dropshadow(OffX=4, OffY=4, Color='#ee4684')";
  margin-top: 20px;
  margin-left: auto;
  margin-right: auto;
}

.lvl2 {
  margin-left: 4px;
  margin-right: 10px;
}

.basic-button { 
  font-family: "PressStart";
  font-size: 11px;
  letter-spacing: 1px;
  position: relative;
  margin-left: 6px;
  margin-right: 6px;
  margin-bottom: 5px;
  /* Use a CSS variable in order to be able to change its value in the ::after pseudoclass through JS */
  --background: #00000033;
  /* The width and the height is big enough to allow for the animeted movement of the button
  as well as the box-shadow of the button */
  width:141px;
  height:40px;
}

.basic-button::after{
  
  border: 2px solid #ffcf4e;
  background-color: #00000033;
  border-radius: 1px;

  /* Specify the transition effect for chaning the background-color and the button-press */ 
  -webkit-transition: all 0.06s ease-in-out;
  -moz-transition: all 0.06s ease-in-out;
  -o-transition: all 0.06s ease-in-out;
  transition: all 0.06s ease-in-out;

  /* Fill each button text content individually */
  content: "";
  line-height: 35px;
  background-size: cover;
  background-repeat: no-repeat;
  top: 0;
  left: 0;
  bottom: 0;
  right: 0;
  position: absolute;
  /* Make the after element smaller so that it doesn't overflow through the original element when active */
  width:137px;
  height:33px;
}

.basic-button::before{
  box-shadow: 5px 5px 0 0 #ed649a;
  border-radius: 1px;
  width: 141px;
  height: 37px;
  content: "";
  background-size: cover;
  background-repeat: no-repeat;
  top: 0;
  left: 0;
  bottom: 0;
  right: 0;
  position: absolute;
}

.basic-button:focus{
  outline: none;
}

.basic-button:hover {
  cursor:pointer;
}

.basic-button:active::after {
  -webkit-transform: translate(5px, 5px);
  -moz-transform: translate(5px, 5px);
  -o-transform: translate(5px, 5px);
  -ms-transform: translate(5px, 5px);
  transform: translate(5px, 5px);
}

.active-project {
  color: lime;
}
.in-development {
  color: aqua;
}
.next {
  color: yellow;
}

.social-icon{
  width: 90%;
  margin-bottom: 20px;
  margin-left: 2px;
  margin-right: 2px;
  opacity: 0.95;
}

strong {
  color: #ffd800;
  letter-spacing: 0.5px;
}

ol {
  padding-left: 32px;
  padding-right: 6px;
  font-size: 18px;
  margin-bottom: 0px;
}

ol li {
  color: orange;
  margin-bottom: 10px;
}

footer{
  /* Make footer stick to the bottom of the page. */
  margin-top: 70px;
  display: none;

  opacity: 1;
  transition: opacity 0.3s;
  z-index: 2;
}

.footer-link{
  display: block;
  margin-bottom: 5px;
  width: fit-content;
}

#footer-details{
  padding: 15px 3% 15px 3%;
  background-color: #c33f7d91;
  border-radius: 1px;
  text-align: left;
  
  opacity: 1;
  transition: opacity 0.3s;
  max-width: 595px;
  margin: auto;
}

#copyright {
  text-align: center;
  color: #ffcf4e;
  margin-top: 30px;
}



* {
  box-sizing: content-box;
}



/************* Stary night sky ************/

* {
  box-sizing: content-box;
}

.star {
  background-color: white;
  /* border-radius: 50%; */
  position: fixed; // This can be absolute too, but it creates a flickering bug on mobile screens.
  animation-name: star;
  animation-timing-function: linear;
  animation-iteration-count: infinite;
  z-index: -1;
}


.star.style1 { animation-duration: 0.5s; animation-name: star; }
.star.style2 { animation-duration: 1s; animation-name: star; }
.star.style3 { animation-duration: 1.5s; animation-name: star; }
.star.style4 { animation-duration: 2s; animation-name: starLight; }

.star.size1 { width: 1px; height: 1px; }
.star.size2 { width: 2px; height: 2px; }
.star.size3 { width: 3px; height: 3px; }

.star.opacity1 { opacity:  1; }
.star.opacity2 { opacity: .5; }
.star.opacity3 { opacity: .1; }

.meteor {
  position: fixed;
  background-color: #fff;
  width: 2px;
  height: 2px;
  border-radius: 50%;
  transform: rotate(-35deg);
  animation-timing-function: linear;
  animation-iteration-count: infinite;
  animation-duration: 1s;
}

.meteor:before {
  content: "";
  display: inline-block;
  vertical-align: middle;
  margin-right: 10px;
  width: 0;
  height: 0;
  border-top: 1px solid transparent;
  border-bottom: 1px solid transparent;
  border-left: 85px solid white;
  position: fixed;
  left: 2px;
  top: 0;
}

.meteor.style1 { animation-name: meteorStyle1; }
.meteor.style2 { animation-name: meteorStyle2; }
.meteor.style3 { animation-name: meteorStyle3; }
.meteor.style4 { animation-name: meteorStyle4; }


@keyframes star {
  0% {
    box-shadow: 0 0 10px 0px rgba(255, 255, 255, 0.05);
  }
  50% {
    box-shadow: 0 0 10px 2px rgba(255, 255, 255, 0.4);
  }
  100% {
    box-shadow: 0 0 10px 0px rgba(255, 255, 255, 0.05);
  }
}

@keyframes starLight {
  0% {
    background-color: #FFFFFF;
    box-shadow: 0 0 10px 0px rgba(255, 255, 255, 1);
  }
  20% {
    background-color: #FFC4C4;
    box-shadow: 0 0 10px 0px rgb(255, 196, 196, 1);
  }
  80% {
    background-color: #C4CFFF;
    box-shadow: 0 0 10px 0px rgb(196, 207, 255, 1);
  }
  100% {
    background-color: #FFFFFF;
    box-shadow: 0 0 10px 0px rgba(255, 255, 255, 0.2);
  }
}

@keyframes meteorStyle1 {
  0% { opacity: 0; right: 300px; top: 100px; }
  30% { opacity: .3; }
  60% { opacity: .3; }
  100% { opacity: 0; right: 1000px; top: 600px; }
}

@keyframes meteorStyle2 {
  0% { opacity: 0; right: 700px; top: 100px; }
  30% { opacity: 1; }
  60% { opacity: 1; }
  100% { opacity: 0; right: 1400px; top: 600px; }
}

@keyframes meteorStyle3 {
  0% { opacity: 0; right: 300px; top: 300px; }
  30% { opacity: 1; }
  60% { opacity: 1; }
  100% { opacity: 0; right: 1000px; top: 800px; }
}

@keyframes meteorStyle4 {
  0% { opacity: 0; right: 700px; top: 300px; }
  30% { opacity: 1; }
  60% { opacity: 1; }
  100% { opacity: 0; right: 1400px; top: 800px; }
}

.side-article {
  padding: 0 5px 0 0;
}

/* Timeline styles */
.timeline {
  margin: 4em auto;
  position: relative;
  max-width: 46em;
  list-style-type: none;
}

.timeline:before {
  background-color: #b3b3b3;
  content: "";
  position: absolute;
  top: 2px;
  left: 22px;
  width: 2px;
  height: 100%;
}

.timeline-event {
  position: relative;
}

.timeline-event:hover .timeline-event-icon {
  -moz-transform: rotate(-90deg);
  -ms-transform: rotate(-90deg);
  -webkit-transform: rotate(-90deg);
  transform: rotate(-90deg);
  background-color: #fbc943;
}

.timeline-event:hover .timeline-event-thumbnail {
  -moz-box-shadow: inset 100vw 0 0 0 #f1b411;
  -webkit-box-shadow: inset 100vw 0 0 0 #f1b411;
  box-shadow: inset 100vw 0 0 0 #f1b411;
  color: white;
}

.timeline-event-thumbnail {
  -moz-transition: box-shadow 0.5s ease-in 0.1s;
  -o-transition: box-shadow 0.5s ease-in 0.1s;
  -webkit-transition: box-shadow 0.5s ease-in;
  -webkit-transition-delay: 0.1s;
  transition: box-shadow 0.5s ease-in 0.1s;
  color: #fbc943;
  font-size: 12px;
  background-color: transparent;
  -moz-box-shadow: inset 0 0 0 0em rgb(229, 62, 90);
  -webkit-box-shadow: inset 0 0 0 0em rgb(229, 62, 90);
  box-shadow: inset 0 0 0 0em rgb(229, 62, 90);
  padding: 0 5px 0 10px;
  min-height: 42px;
  margin: 0;
  line-height: 17px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  transition: all 0.5s ease-in-out;
}

.timeline-event-copy {
  position: relative;
  left: 3em;
  width: calc(100% - 3em);
}

.timeline-event-copy h3 {
  font-size: 1.75em;
}

.timeline-event-copy h4 {
  font-size: 1.2em;
  margin-bottom: 1.2em;
}

.timeline-event-copy strong {
  font-weight: 700;
}

.timeline-event-copy p:not(.timeline-event-thumbnail) {
  padding-bottom: 1.2em;
}

.timeline-event-icon {
  -moz-transition: -moz-transform 0.1s ease-in;
  -o-transition: -o-transform 0.1s ease-in;
  -webkit-transition: -webkit-transform 0.1s ease-in;
  transition: all 0.1s ease-in;
  background-color: #401361;
  outline: 10px solid white;
  display: block;
  margin: 0.5em 0.5em 0.5em -0.5em;
  position: absolute;
  top: 1.5px;
  left: 20px;
  width: 22px;
  height: 22px;
}

.timeline-end-icon {
  top: auto;
  bottom: -20px;
  background: white !important;
  outline: none;
}


/* Scrollbar styles */

::-webkit-scrollbar {
  width: 10px !important;
}

::-webkit-scrollbar:vertical {
  width: 10px !important;
}

::-webkit-scrollbar:horizontal {
  height: 10px !important;
}

::-webkit-scrollbar-thumb {
  background: rgb(232 163 163 / 50%) !important;
  border-radius: 2px !important;
  -webkit-border-radius: 2px !important;
  border: 2px solid #45156c !important;
}

::-webkit-scrollbar-track {
  background: linear-gradient(to bottom, rgb(42 14 62), rgb(70 21 107), rgb(37 32 141)) !important;
}

::-webkit-scrollbar-thumb:window-inactive {
  background: rgb(232 163 163 / 50%) !important; 
}



/* Pixelated corners */
.pixel-corners,
.pixel-corners--wrapper {
  clip-path: polygon(0px calc(100% - 16px),
    4px calc(100% - 16px),
    4px calc(100% - 8px),
    8px calc(100% - 8px),
    8px calc(100% - 4px),
    16px calc(100% - 4px),
    16px 100%,
    calc(100% - 16px) 100%,
    calc(100% - 16px) calc(100% - 4px),
    calc(100% - 8px) calc(100% - 4px),
    calc(100% - 8px) calc(100% - 8px),
    calc(100% - 4px) calc(100% - 8px),
    calc(100% - 4px) calc(100% - 16px),
    100% calc(100% - 16px),
    100% 16px,
    calc(100% - 4px) 16px,
    calc(100% - 4px) 8px,
    calc(100% - 8px) 8px,
    calc(100% - 8px) 4px,
    calc(100% - 16px) 4px,
    calc(100% - 16px) 0px,
    16px 0px,
    16px 4px,
    8px 4px,
    8px 8px,
    4px 8px,
    4px 16px,
    0px 16px);
  position: relative;
}
.pixel-corners {
  border: 4px solid transparent;
}
.pixel-corners--wrapper {
  width: fit-content;
  height: fit-content;
}
.pixel-corners--wrapper .pixel-corners {
  display: block;
  clip-path: polygon(4px 16px,
    8px 16px,
    8px 8px,
    16px 8px,
    16px 4px,
    calc(100% - 16px) 4px,
    calc(100% - 16px) 8px,
    calc(100% - 8px) 8px,
    calc(100% - 8px) 16px,
    calc(100% - 4px) 16px,
    calc(100% - 4px) calc(100% - 16px),
    calc(100% - 8px) calc(100% - 16px),
    calc(100% - 8px) calc(100% - 8px),
    calc(100% - 16px) calc(100% - 8px),
    calc(100% - 16px) calc(100% - 4px),
    16px calc(100% - 4px),
    16px calc(100% - 8px),
    8px calc(100% - 8px),
    8px calc(100% - 16px),
    4px calc(100% - 16px));
}
.pixel-corners::after,
.pixel-corners--wrapper::after {
  content: "";
  position: absolute;
  clip-path: polygon(0px calc(100% - 16px),
    4px calc(100% - 16px),
    4px calc(100% - 8px),
    8px calc(100% - 8px),
    8px calc(100% - 4px),
    16px calc(100% - 4px),
    16px 100%,
    calc(100% - 16px) 100%,
    calc(100% - 16px) calc(100% - 4px),
    calc(100% - 8px) calc(100% - 4px),
    calc(100% - 8px) calc(100% - 8px),
    calc(100% - 4px) calc(100% - 8px),
    calc(100% - 4px) calc(100% - 16px),
    100% calc(100% - 16px),
    100% 16px,
    calc(100% - 4px) 16px,
    calc(100% - 4px) 8px,
    calc(100% - 8px) 8px,
    calc(100% - 8px) 4px,
    calc(100% - 16px) 4px,
    calc(100% - 16px) 0px,
    16px 0px,
    16px 4px,
    8px 4px,
    8px 8px,
    4px 8px,
    4px 16px,
    0px 16px,
    0px 50%,
    4px 50%,
    4px 16px,
    8px 16px,
    8px 8px,
    16px 8px,
    16px 4px,
    calc(100% - 16px) 4px,
    calc(100% - 16px) 8px,
    calc(100% - 8px) 8px,
    calc(100% - 8px) 16px,
    calc(100% - 4px) 16px,
    calc(100% - 4px) calc(100% - 16px),
    calc(100% - 8px) calc(100% - 16px),
    calc(100% - 8px) calc(100% - 8px),
    calc(100% - 16px) calc(100% - 8px),
    calc(100% - 16px) calc(100% - 4px),
    16px calc(100% - 4px),
    16px calc(100% - 8px),
    8px calc(100% - 8px),
    8px calc(100% - 16px),
    4px calc(100% - 16px),
    4px 50%,
    0px 50%);
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  background: #ffffff;
  display: block;
  pointer-events: none;
}
.pixel-corners::after {
  margin: -4px;
}