#soundboard-instructions {
  position: absolute;
  left: 0;
  right: 0;
  top: 20px;
  opacity: 1;
  transition: opacity 0.3s;
}

/* Toggle sound icon*/
#toggleSound {
  user-select: none;
  width: 50px;
  top: 20px;
  left: 25px;
  height: auto;
  position: absolute;
  cursor: pointer;
}

#toggleSound:active {
  transform: translateY(4px);
}

#start-menu-content {
  margin: auto;
  max-width: 635px;
  padding: 0 12px;
}

/* Set all the button menus to NOT be displayed so that the right menu can
   manually load up using JavaScript */
#start-menu-english {
  display: none;
}

#start-menu-greek {
  display: none;
}

#start-menu {
  display: none;
  opacity: 0;
  transition: opacity 0.3s;
}

.red-button {
  background: #ee4684;
  color: white;
  border-radius: 1px;
  padding: 3px 2px 3px 5px;
  font-family: "PressStart";
  font-size: 10px;
}

#membership-form {
  background: #c33f7d;
  border-radius: 1px;
  border: 2px solid #8d457e;
  width: 100%;
}

#reload-main-menu {
  width: 180px;
  margin-top: 30px;
}

#reload-main-menu::after {
  width: 176px;
}

#reload-main-menu::before {
  width: 180px;
}

.membership {
  text-align: center;
}

#main-menu {
  opacity: 1;
  transition: opacity 0.3s;
}

#menu-buttons {
  opacity: 1;
  transition: opacity 0.3s;
  margin-bottom: 7%;
  padding-right: 5px;
}

#button1-english {
  display: block;
}

#button1-greek {
  display: none;
}

#button2-english {
  display: none;
}

#button2-greek {
  display: none;
}

#button3-english {
  display: none;
}

#button3-greek {
  display: none;
}

/* Buttons */

/*basic-button*/

#reload-main-menu::after {
  background: var(--background);
  content: var(--content);
}

#btn1::after {
  background: var(--background);
  content: var(--content);
}

#btn2::after {
  background: var(--background);
  content: var(--content);
}

#btn3::after {
  background: var(--background);
  content: var(--content);
}

#construction-notice {
  margin-bottom: -20px;
  margin-top: -10px;
}

#services-list {
  margin-left: 15px;
}

.big-link {
  display: block;
  font-size: 20px;
  margin-bottom: 8px;
}

/* Start of fancy Button */
.fancy-button {
  display: inline-block;
  text-decoration: none;
  position: relative;
  margin-bottom: 35px;
  cursor: pointer;
}

.fancy-button .bottom {
  position: absolute;
  left: 5px;
  top: 6px;
  width: 100%;
  height: 100%;

  display: block;
  -webkit-transition: all 0.1s ease-out;
  -moz-transition: all 0.1s ease-out;
  -o-transition: all 0.1s ease-out;
  transition: all 0.1s ease-out;

  background-color: #ee4684;
  border-radius: 1px;
  pointer-events: none;
}

.fancy-button .top {
  position: relative;
  left: 0;
  top: 1px;
  min-width: 113px;
  height: 5px;
  padding: 22px 12px 20px;
  border: 2px solid #fbc943;
  border-radius: 1px;
}

.fancy-button .top .label {
  font-family: "PressStart";
  font-weight: 600;
  font-size: 10px;
  color: white;
  line-height: 4px;
  letter-spacing: 2px;
  margin-left: 2px;
  text-align: center;
  text-transform: uppercase;
  -webkit-transition: all 0.1s ease-out;
  -moz-transition: all 0.1s ease-out;
  -o-transition: all 0.1s ease-out;
  transition: all 0.1s ease-out;
}

.fancy-button:active .bottom {
  left: 0;
  top: 0;
  background-color: #fbc943;
}

.fancy-button:active .top .label {
  color: rgb(55, 41, 99);
}

.fancy-button:active .top .fancy-button-border-left,
.fancy-button:active .top .fancy-button-border-right {
  height: calc(100% + 2px);
}

.fancy-button:active .top .fancy-button-border-top,
.fancy-button:active .top .fancy-button-border-bottom {
  width: calc(100% + 2px);
}

/* End of fancy Button */

/* Form */

form {
  margin: 15px 0 0;
}

.form-label {
  font-family: "PressStart";
  color: #ffcf4e;
  text-shadow: 1.1px 1px 0 rgb(229 62 90);
  font-size: clamp(14px, 4vw, 15px);
  margin: 6px 0 6px 2px;
  display: block;
  line-height: 20px;
}

.form-control {
  font-family: "IBM";
  font-size: clamp(13px, 3vw, 16px);
  margin-bottom: 10px;
  border: 2px solid orange;
  border-radius: 1px;
  padding: 10px;
  max-width: 635px;
  font-weight: bold;
  letter-spacing: 0.8px;
  background: azure;
}

.form-control:focus {
  outline: 2px solid #ffd6de;
}

input {
  width: calc(100% - 24px);
}

select {
  padding-left: 5px !important;
  width: calc(100% - 19px);
}

input[type="radio"] {
  width: auto;
  color: white;
}

.radio-label {
  color: white;
  font-weight: bold;
  letter-spacing: 0.8px;
}

textarea {
  width: calc(100% - 24px);
  display: grid;
  resize: none;
}

.submit-button {
  width: calc(100% - 16px);
  background: #323295;
  border: 2px solid orange;
  color: white;
  font-family: "PressStart";
  padding: 15px 6px;
  border-radius: 1px;
  cursor: pointer;
}

/*------ Network Graph ------*/
#graph-container {
  min-width: 320px;
  max-width: 900px;
  margin: 0 auto;
  height: 580px;
}



/* Stepper styles */
:root {
  --line-border-fill: #ffffff;
  --line-border-empty: #ffffff99;
  --progress-zIndex: -1;
}

.stepper-container {
  text-align: center;
  margin-bottom: 50px;
}

.progress-container {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-bottom: 40px;
  max-width: 100%;
  position: relative;
  width: 350px;
  margin-left: auto;
  margin-right: auto;
}

.progress-container::before {
  opacity: 0.8;
  background-color: var(--line-border-empty);
  content: "";
  height: 2px;
  left: 0;
  position: absolute;
  top: 50%;
  transform: translateY(-50%);
  width: 100%;
  z-index: var(--progress-zIndex);
}

.progress {
  background-color: var(--line-border-fill);
  height: 3px;
  left: 0;
  position: absolute;
  top: 50%;
  transform: translateY(-50%);
  transition: 0.4s ease;
  width: 0%;
  z-index: var(--progress-zIndex);
}

#step-1 {
  height: 23px;
  width: 23px;
  border: 10px solid #d8d8d8cf;
}

#step-2 {
  height: 28px;
  width: 28px;
  border: 12px solid #d8d8d8cf;
}
#step-3 {
  height: 24px;
  width: 24px;
  border: 9px solid #d8d8d8cf;
}
#step-4 {
  height: 26px;
  width: 26px;
  border: 11px solid #d8d8d8cf;
}
#step-5 {
  height: 23px;
  width: 23px;
  border: 10px solid #d8d8d8cf;
}

.step {
  padding-left: 1.5px;
  padding-top: 2px;
  font-family: "PressStart", Helvetica, sans-serif;
  align-items: center;
  background-color: #d8d8d8;
  color: #44166d;
  display: flex;
  justify-content: center;
  transition: 0.25s ease;
  box-shadow: 0 0 10px -3px white;
  cursor: pointer;
}

.step:hover {
  opacity: 1;
  box-shadow: 0 0 15px -1px #e8e8e8e8;
  border-color: white !important;
}

.step.active-step {
  border-color: white !important;
  background-color:var(--line-border-fill);
  color: #ffbc00;
}

.step.active-step:hover {
  border-color: #d8d8d8 !important;
}

.step.active-step.last {
  background-color: #fbc943 !important;
  border-color: white !important;
  box-shadow: 0 0 15px -1px white;
  color: #44166d;
}

/* Accordion Styles */
.accordion {
  list-style: none;
}

.accordion h5 {
  margin: 0px;
  font-family: "PressStart";
  font-size: clamp(12px, 2vw, 15px);
  font-weight: normal;
  color: white;
  line-height: 20px;
  text-shadow: 1.1px 1px 0 rgb(229, 62, 90);
}

.arrow {
  scale: 1.5;
  transform: rotate(90deg);
  content: "";
  position: absolute;
  right: 15px;
  width: 3px;
  height: 3px;
  box-shadow: 3px 3px 0 0 #fff, 6px 6px 0 0 #fff, 9px 9px 0 0 #fff, 6px 12px 0 0 #fff, 3px 15px 0 0 #fff;
}

.step-content {
  transition: all 0.25s ease;
}

.step-content:hover {
  background-color: #e38f10e3;
  box-shadow: 6px 0 #e38f10e3, -6px 0 #e38f10e3, 0 -6px #e38f10e3, 0 6px #e38f10e3;
}

.step-content.active {
  background-color: #451569;
  box-shadow: 6px 0 #451569, -6px 0 #451569, 0 -6px #451569, 0 6px #451569;
}

/* Active header (assuming the <h5> is inside .accordion-trigger) */
.step-content.active .accordion-trigger {
  color: #fbc943 !important;
}

.step-content.active .accordion-body {
  /* background-color: #451569; */
}

.accordion li {
  margin: 10px 5px;
  text-align: left;
}

.accordion-trigger {
  padding: 12px 10px;
  cursor: pointer;
  transition: background-color 0.25s ease;
}

.accordion-body {
  height: 0;
  overflow: hidden;
  transition: height 0.5s ease;
}

.accordion-body p {
  padding: 0 10px 10px;
  margin: 0;
  color: orange;
  font-size: 18px;
}

.step-content.active-content .accordion-body {
  height: auto; /* Expand to fit content */
}

/* End of Accordion Styles */

/* --------------------------- */

/* Start of Organizational Chart Styles */
* {margin: 0; padding: 0;}

.tree {
  display: flex;
  justify-content: center;
  align-items: center;
}

.tree ul {
  padding-top: 20px;
  padding-bottom: 20px;
  position: relative;

  transition: all 0.5s;
  -webkit-transition: all 0.5s;
  -moz-transition: all 0.5s;
}

.tree li {
  float: left; text-align: center;
  list-style-type: none;
  position: relative;
  padding: 20px 11px 0 5px;

  transition: all 0.5s;
  -webkit-transition: all 0.5s;
  -moz-transition: all 0.5s;
}

/*We will use ::before and ::after to draw the connectors*/

.tree li::before, .tree li::after{
  content: '';
  position: absolute; top: 0; right: 50%;
  border-top: 2px solid #ccc;
  width: 50%; height: 20px;
  transition: all 0.5s;
}

/*We need to remove left-right connectors from elements without 
any siblings*/
.tree li:only-child::after, .tree li:only-child::before {
  display: none;
}

/*Remove space from the top of single children*/
.tree li:only-child{ padding-top: 0;}


/*Time to add downward connectors from parents*/
.tree ul::before{
  position: absolute; top: 0;
  width: 0; height: 20px;
  transition: all 0.5s;
}

.tree li a{
  border: 2px solid #ccc;
  padding: 11px 15px 10px;
  text-decoration: none;
  color: white;
  font-family: 'PressStart', sans-serif;
  font-size: 10px;
  display: inline-block;
  z-index: 4;
  position: relative;
  border-radius: 1px;
  -webkit-border-radius: 1px;
  -moz-border-radius: 1px;

  transition: all 0.5s;
  -webkit-transition: all 0.5s;
  -moz-transition: all 0.5s;
}

/*Time for some hover effects*/
/*We will apply the hover effect the the lineage of the element also*/
.tree li a:hover, .tree li a:hover+ul li a {
  background: white; 
  color: #46156b; 
  border: 2px solid white;
}
/*Connector styles on hover*/
.tree li a:hover+ul li::after, 
.tree li a:hover+ul li::before, 
.tree li a:hover+ul::before, 
.tree li a:hover+ul ul::before,
.tree li a:hover+ul ul li::before
{
  border-color: white;
}

.tree ul ul ul li a {
  position: relative;
  left: 50%;
  transform: translateX(-50%);
  text-decoration: none;
  color: white;
  font-family: 'PressStart', sans-serif;
  font-size: 10px;
  border: 2px solid #ccc;
  border-radius: 1px;
  -webkit-border-radius: 1px;
  -moz-border-radius: 1px;
  transition: all 0.5s;
  -webkit-transition: all 0.5s;
  -moz-transition: all 0.5s;
  text-orientation: mixed !important;
  writing-mode: vertical-rl; /* Vertical orientation */
  max-height: 260px;
  line-height: 15px;
  padding: 15px 10px;
  z-index: 5;
}



.tree li::after{
  right: auto; left: 50%;
  border-left: 2px solid #ccc;
  transition: all 0.5s;
}
.tree ul ul::before {
  content: '';
  position: absolute; 
  left: 50%; 
  bottom: -20px;
  border-left: 2px solid #ccc;
  height: 20px;
  transition: all 0.5s;
}
/*Remove left connector from first child and 
right connector from last child*/
.tree li:first-child::before, .tree li:last-child::after{
  border: 0 none;
}
/*Adding back the vertical connector to the last nodes*/
.tree li:last-child::before{
  border-right: 2px solid #ccc;
  border-radius: 0 1px 0 0;
  -webkit-border-radius: 0 1px 0 0;
  -moz-border-radius: 0 1px 0 0;
}
.tree li:first-child::after{
  border-radius: 1px 0 0 0;
  -webkit-border-radius: 1px 0 0 0;
  -moz-border-radius: 1px 0 0 0;
}

.tree li a.force-highlight {
  background: #ffcf4e !important; 
  color: #000 !important; 
  border: 2px solid #ffcf4e !important;
}

@media (max-width: 350px) {
  .tree > ul > li > ul > li {
    padding: 15px 0 0 10px !important;
  }

  .tree ul ul ul {
    padding: 0 0 0 10px !important;
  }

  .tree ul ul ul li {
    padding: 5px 0 5px 10px !important;
  }

  .tree ul ul ul::before {
    width: 10px !important;
  }

  .tree ul ul li::before {
    width: 10px !important;
  }
  .tree ul ul li::after {
    width: 10px !important;
  }

  .tree ul ul ul li a {
    padding: 10px !important;
  }
}

@media (max-width: 700px) {
  .tree {
    position: relative;
    display: flex;
    justify-content: center;
  }

  .tree li {
    text-align: left;
    padding: 0;
  }

  .tree ul {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
  }
  
  .tree ul ul ul li a {
    writing-mode: horizontal-tb;
    text-align: center;
    max-width: min-content;
    padding: 15px;
  }

  .tree ul ul {
    padding-top: 0;
  }

  .tree ul ul::before {
    left: 0;
    height: 50%;
  }

  .tree > ul > li > ul > li {
    padding: 15px 0 0 20px;
    display: flex;
    align-items: center;
    clear: left;
    position: relative;
    left: 0;
  }

  .tree > ul > li > ul > li::before {
    height: 100%;
  }

  .tree > ul > li > ul > li:last-child::before {
    height: 50%;
  }

  .tree > ul > li > ul > li > a {
    writing-mode: vertical-rl;
  }

  .tree ul ul li::before {
    width: 20px;
    height: 50%;
    left: 0;
    border-left: 2px solid #ccc;
    border-top: none;
  }

  .tree ul ul li:last-child::before {
    border-bottom: 2px solid #ccc;
    border-right: none;
    border-radius: 0 0 0 1px;
    -webkit-border-radius: 0 0 0 1px;
    -moz-border-radius: 0 0 0 1px;
  }

  .tree ul ul li::after {
    width: 20px;
    height: 50%;
    top: 50%;
    left: 0;
    border-left: 2px solid #ccc;
    border-radius: 0 !important;
    -webkit-border-radius: 0 !important;
    -moz-border-radius: 0 !important;
  }

  .tree ul ul ul {
    display: flex;
    padding: 0 0 0 20px;
  }

  .tree ul ul ul::before {
    border-left: none;
    border-top: 2px solid #ccc;
    width: 20px;
    left: 0;
    top: 50%;
  }

  .tree ul ul ul li {
    float: none;
    padding: 5px 0 5px 20px;
  }

  .tree ul ul ul li:first-child::before,
  .tree ul ul li:last-child::after {
    border: 0 none !important;
  }

  .tree ul ul ul li:first-child::after {
    border-radius: 1px 0 0 0 !important;
    -webkit-border-radius: 1px 0 0 0 !important;
    -moz-border-radius: 1px 0 0 0 !important;
  }
}